@model AC_BM.Models.Domain.Transaction
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <h1>Record Transaction</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
           <form method="post">
    <
        <div asp-validation-summary="All"></div>
    <div class="mb-3">
            <label   class="form-label"></label>
            <input asp-for="TransactionName" class="form-control" type="text" />
            <span asp-validation-for="TransactionName"class="text-danger"></span>
          </div>
          
                <div class="mb-3">
            <label   class="form-label">Service Fee</label>
            <input asp-for="Pay" class="form-control" type="number" name="Pay" />
            <span asp-validation-for="Pay"class="text-danger"></span>
          </div>
          <div class="mb-3">
            <label   class="form-label"></label>
            <input asp-for="Tax" class="form-control" type="number" name="Tax" />
            <span asp-validation-for="Tax"class="text-danger"></span>
          </div>
          <div class="mb-3">
            <label   class="form-label"></label>
            <input asp-for="Net_pay" class="form-control" type="number" name="Net_pay" />
            <span asp-validation-for="Net_pay"class="text-danger"></span>
          </div>
                <div class="mb-3">
                    <label class="form-label"></label>
                    <input asp-for="facilityfee" class="form-control" type="number" name="facilityfee"/>
                    <span asp-validation-for="facilityfee" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label"></label>
                    <input asp-for="Governmentfee" class="form-control" type="number"  name="Governmentfee" />
                    <span asp-validation-for="Governmentfee" class="text-danger"></span>
                </div>
                <div class="mb-3">
            <label   class="form-label"></label>
            <input asp-for="Amount" class="form-control" type="text" name="Amount" />
            <span asp-validation-for="Amount"class="text-danger"></span>
          </div>
   
             @if(TempData["msg"]!=null){
             <div class="text-success">
            @TempData["msg"]
               </div>
              }
             <button class="btn btn-primary" type="submit" asp-controller="Transaction" asp-action="Update"> &nbsp;Update Record</button>
            <a asp-action="TransactioList" asp-controller="Transaction" class="btn btn-danger" >All records</a>
</form>
</div>
</div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }

}
