@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #ffffff;
    --second-bg-color: #f9f9f9;
    --second-color: black;
    --text-color: white;
    --main-color: deepskyblue;
    --other-color: chocolate;
    --big-font: 5.7rem;
    --h2-font: 3.8rem;
    --p-font: 1rem;
}
html {
  font-size: 14px;
  color:deepskyblue
}

/*form styling*/

.error{
    color:red;
    font-size:12px;
    width:300px;
    margin:1px;

}

.wrapper {
    max-width: 600px;
    width: 100%;
    background: var(--bg-color);
    margin:20px auto;
    padding:30px;
    box-shadow: 1px 2px rgba(0,0,0,0.125);
}
.wrapper .title{
    color:var(--main-color);
    font-size:20px;
    font-weight:700;
    margin-bottom:25px;
    text-transform:uppercase;
    text-align:center;
    font-weight:bolder;
}
.wrapper .form{
    width:100%;
}
 .wrapper .form .input_field{
        margin-bottom:15px;
        display:flex;
        align-items:center;
    }
 .wrapper .form .input_field label{
            width:120px;
            color:var(--second-color);
            margin-right:10px;
            font-size:14px;
            font-weight:bold;
            padding-right:2px;
            
        }
 .wrapper .form .input_field .input{
     width:300px;
     outline:none;
     border:1px solid #d5dbd9;
     font-size:15px;
     padding:8px 10px;
     border-radius:3px;
     transition:all 0.3s ease;
     margin-bottom:3px;
     margin-right:2px;
        }
    .wrapper .form .input_field .custom_select{
        position:relative;
        width:100%;
        height:37px;
    }
    .wrapper .form .input_field .custom_select select{
           -webkit-appearance:none;
            appearance:none;
            border:1px solid black;
            width:100%;
            height:100%;
            padding:8px 10px;
            border-radius:3px;
            outline:none;
        }
        .wrapper .form .input_field .custom_select:before{
            content:"";
            position:absolute;
            top:12px;
            right:10px;
            border:8px solid;
            border-color:transparent transparent transparent transparent;
            pointer-events:none;
        }
    .wrapper .form .input_field .input:focus,
    .wrapper .form .input_field select:focus{
        border: 1px solid var(--main-color);
    }
    .wrapper .form p{
        color:var(--second-color);
        font-size:var(--p-font);
    }
    .btn {
        width: 100%;
        padding: 8px 10px;
        font-size: 15px;
        border: 0;
        background: var(--other-color);
        color: var(--text-color);
        cursor: pointer;
        border-radius: 3px;
        outline: none;
    }
    .btn:hover{
        background:var(--main-color);
    }

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: var(--bg-color);
    color: var(--text-color);
}

.heading {
    text-align: center;
}

    .heading h6 {
        font-size: 16px;
        font-weight: 600;
        color: var(--main-color);
        margin-bottom: 15px;
        line-height: 1;
        text-align: center;
    }

h1 {
    font-size: var(--h2-font);
    color: var(--second-color);
    font-weight: 200;
    line-height: 1.1;
    text-align: center;
}

    .heading p {
        font-size: var(--p-font);
        font-weight: 400;
        line-height: 1.8;
        color: var(--other-color);
    }

/*section {
    padding: 12px 16%;
}*/

/* the home section */
.home {
    height: 50vh;
    width: 100%;
    background: url(../Images/Corporate/corporate7.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.homet {
    color: var(--text-color);
    font-size: var(--big-font);
    font-weight:bolder;
    line-height: 1.11;
    letter-spacing: 1px;
    margin: 0 0 25px
}

/* end of the home section */

.serveinfo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    grid-gap: 2rem;
    align-items: center;
    text-align: center;
    cursor: pointer;
    margin-top: 4.4rem;
}

/*.col {
    position: relative;
    background: var(--bg-color);
    padding: 0 0 30px 0;
    border-radius: 15px;
    cursor: pointer;
    transition: all .35s
}*/

/*    .col img {
        max-width: 100%;
        width: 620px;
        height: auto;
    }*/

.layer {
    background: transparent;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    transition: all .35s;
}

    .layer:hover {
        background: linear-gradient(rgba(22, 22, 22, 0.06) 0%, #9f0036 100%);
    }

    .layer h3 {
        position: absolute;
        width: 100%;
        font-size: 1.4rem;
        font-weight:bolder;
        color: var(--other-color);
        transform: translateX(-50%);
        left: 50%;
        top: 0;
        opacity: 0;
        transition: all;
    }

    .layer:hover h3 {
        bottom: 49%;
        opacity: 1;
    }

/*   end services */




blog {
    background: var(--second-bg-color);
}

.blog-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    grid-gap: 2rem;
    align-items: center;
    text-align: center;
    cursor: pointer;
    margin-top: 4.4rem;
}

    .blog-content .row img {
        max-width: 100%;
        width: 600px;
        height: auto;
    }

/*.row {
    padding: 0 0 30px 0;
    background: var(--bg-color);
    border-radius: 15px;
    transition: all .35s;
}*/

    /*.row:hover {
        box-shadow: 0px 20px 30px rgba(146, 20, 62, 0.07);
    }

    .row p {
        font-size: 14px;
        font-weight: 500;
        color: var(--other-color);
        margin: 10px 0 8px 25px;
    }

    .row h3 {
        font-size: 22px;
        line-height: 1.45;
        font-weight: 600;
        transition: all .35s;
        margin: 10px 0 8px 25px;
        color: var(--second-color);
    }

        .row h3:hover {
            color: var(--main-color);
        }

    .row a {
        font-size: var(--p-font);
        box-shadow: 0px 20px 30px rgba(146, 20, 62, 0.07);
    }

        .row a:hover {
            border-bottom: 2px solid var(--main-color);
            color: var(--main-color);
        }
*/


.footer {
    background: var(--bg-color);
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

    .footer p {
        font-size: 14px;
        font-weight: 500;
        color: var(--other-color);
    }

    .footer.icon a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: var(--main-color);
        width: 35px;
        height: 35px;
        margin: 0px 5px;
        color: var(--text-color);
        font-size: 1.2rem;
        border-radius: 50%;
        transition: all.40s;
    }


    .footer .icon a:hover {
        transform: translateY(-5px);
    }