@model AC_BM.Models.ViewModels.EmailConfirm

@{
    ViewData["Title"] = " Forgot Password";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
    
<div class="">
    <div class="logo d-flex justify-content-center flex-column">
        <img src="~/Images/AC_Logo.jpg" />
        <p>Heading goes here S...</p>
    </div>
    <div asp-validation-summary="All"></div>

        <form method="post" asp-action="ForgotPassword" asp-controller="UserAunthentication">
        <div class="form-group">
            <input asp-for="Email" class="form-control" type="text" placeholder="Email" />
            <ion-icon name="mail-outline"></ion-icon>
            <span class="text-danger pt-1 font-monospace fw-normal" asp-validation-for="Email"></span>
        </div>

        

        
        <button type="submit" class="btn primary w-100">Reset</button>
        <p class="noAcc">Don’t have account ? <a asp-action="Registration"> Register as new member</a></p>
    </form>

</div>

