@model AC_BM.Models.DTO.LoginModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <meta name="viewport" content="width=device-width" />

 <div class="wrapper">
        <div class="title">Login Form</div>
    <form class="form" method="post" asp-controller="UserAunthentication" asp-action="Login">
        <div asp-validation-summary="All" class="error"></div>
    <div class="input_field">
            <label asp-for="Username"></label>
            <input asp-for="Username" class="input" type="text" />
            <span asp-validation-for="Username" class="error"></span>
    </div>
    <div class="input_field">
            <label asp-for="Password" ></label>
        <input asp-for="Password" class="input" type="password" />
        <span asp-validation-for="Password" class="error"></span>
    </div>
    @if(TempData["msg"]!=null){
        <div class="text-success">
            @TempData["msg"]
        </div>
    }
      <button  class="btn" type="submit" asp-controller="UserAunthentication" asp-action="Login"> &nbsp;Login</button>
      <p>Do not have an account?</p>
      <a asp-action="Registration" asp-controller="UserAunthentication">Register</a>
</form>
</div>
@section Scripts{
    @{
        //<partial name="_ValidationScriptsPartial" />
    }

}
