@model AC_BM.Models.DTO.RegistrationModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <meta name="viewport" content="width=device-width" />
<div class="wrapper"> 
    
    <div class="title"> Registration form</div>

    <form class="form" method="post">

           <div class="input_field">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="input" type="text" />
                    <span asp-validation-for="Name"class="text-danger"></span>
           </div>
             <div class="input_field">
                        <label asp-for="Username" ></label>
                        <input asp-for="Username" class="input" type="text" />
                        <span asp-validation-for="Username" class="text-danger"></span>
             </div>
                    <div class="input_field">
                        <label asp-for="Email" ></label>
                        <input asp-for="Email" class="input" type="email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                <div class="input_field">
                        <label asp-for="Password" ></label>
                        <input asp-for="Password" class="input" type="password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                <div class="input_field">
                        <label asp-for="PasswordConfirm" ></label>
                        <input asp-for="PasswordConfirm" class="input" type="password" />
                        <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                    
                 </div>
                   @if(TempData["msg"]!=null){

                   <div class="text-success">
                     @TempData["msg"]
                   </div>
                   }
                <button class="btn" type="submit"  asp-controller="UserAunthentication" asp-action="Registration">Register</button>
                <p>Already have an account?</p>
                <a asp-action="Login" asp-controller="UserAunthentication" >Login</a>

                   @*<button type="submit" asp-controller="UserAunthentication" asp-action="Registration"> &nbsp;Register </button>*@

     
                  
     </form>
           
          


</div>
        
    

