@model AC_BM.Models.DTO.RegistrationModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="">
    <div class="logo d-flex justify-content-center flex-column">
        <img src="~/Images/AC_Logo.jpg" />
        <p>Heading goes here S...</p>
    </div>
<form method="post" asp-action="Registration" asp-controller="UserAunthentication">
    <div class="form-group">
        <ion-icon name="person-outline"></ion-icon>
        <input class="form-control" asp-for="Name" type="text" placeholder="FullName" />
        <span class="text-danger font-monospace fw-normal pt-1" asp-validation-for="Username"></span>
    </div>

    <div class="form-group">
        <input class="form-control" asp-for="Email" type="text" placeholder="Email" />
        <ion-icon name="mail-outline"></ion-icon>
            <span class="text-danger font-monospace fw-normal pt-1" asp-validation-for="Email"></span>
    </div>

    <div class="form-group">
        <ion-icon name="person-outline"></ion-icon>
        <input class="form-control" asp-for="Username" type="text" placeholder="UserName" />
        <span class="text-danger font-monospace fw-normal pt-1" asp-validation-for="Username"></span>
    </div>

    <div class="form-group">
        <input class="form-control" asp-for="Password" type="password" placeholder="Password" />
        <ion-icon name="lock-closed-outline"></ion-icon>
            <span class="text-danger font-monospace fw-normal pt-1" asp-validation-for="Password"></span>
    </div>

    <div class="form-group">
        <input class="form-control" asp-for="PasswordConfirm" type="password" placeholder="Confirm Password" />
        <ion-icon name="lock-open-outline"></ion-icon>
            <span class="text-danger font-monospace fw-normal pt-1" asp-validation-for="PasswordConfirm"></span>
    </div>


    <button class="btn primary w-100" type="submit">Sign Up</button>
    <p class="noAcc">Already have an account ? <a asp-action="Login"> Login </a></p>

</form>
</div>