@model User

@{
    ViewData["Title"] = "AddAdmin";
    Layout = "~/Views/Shared/_AdminMasterLayout.cshtml";
}

<h1>AddAdmin</h1>
<div class="col-6 ">
    <form method="post"  asp-action="AddAdmin" asp-controller="Admin">
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <div><i class="bi bi-envelope"></i></div>
            <input asp-for="Email" class="form-control" type="email" />
            <span asp-validation-for="Email" class="text-danger"></span>

        </div>
        <div class="mb-3">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" class="form-control" type="password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <button class="btn btn-primary" type="submit" asp-controller="Admin" asp-action="AddAdmin"> &nbsp;Register</button>
    </form>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

