@model AC_BM.ViewModels.UserVM

@{
    ViewData["Title"] = "REGISTER";
    Layout = "~/Views/Shared/_AdminMasterLayout.cshtml";
}

<div class="col-6 d-flex justify-content-center">
    <form method="post" asp-action="Index" asp-controller="Admin">
        <div asp-validation-summary="All"></div>
        <div class="mb-1">
            <label asp-for="Email" class="form-label"></label>
            <div><i class="bi bi-envelope"></i></div>
            <input asp-for="Email" class="form-control" type="email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-1">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" class="form-control" type="password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <button class="btn btn-primary" type="submit" asp-controller="Admin" asp-action="Index"> &nbsp;Login</button>
    </form>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }

}