@model AC_BM.Models.ViewModels.UserVM
@{
    Layout = Layout = "~/Views/Shared/_AdminMasterLayout.cshtml"; 
}



@{
    ViewData["Title"] = "SignUp Page";
}
<h1>@ViewData["Title"]</h1>

<p>Sign Up in order access our services</p>
<div class="container-fluid">
<div class="col-sm-6 d-flex justify-content-center">
    <form method="post" asp-controller="User" asp-action="SignUp">
        <div>
            <img  src="~/Images/AC_Logo.jpg" class="border-circle" >
        </div>
        
            <div class="mb-1">
                <label class="form-label" asp-for="Name"></label>
                <input asp-for="Name"  class="form-control" name="name"  type="text"/>
                <span asp-validation-for="Name" class="text-danger"></span>

            </div>
            <div class="mb-1">
                <label class="form-label"  asp-for="Email"></label>
                <input asp-for="Email" class="form-control" name="email" type="email" />
                <span asp-validation-for="Email" cl ass="text-danger"></span>

            </div>
            <div class="mb-1">
                <label class="form-label" asp-for="Password"></label>
                <input asp-for="Password" class="form-control"  name="password"/>
                <span asp-validation-for="Password" class="text-danger"></span>

            </div>
            <div class="mb-1">
                <label class="form-label" asp-for="Contact"></label>
                <input asp-for="Contact" class="form-control" name="Contact"  type="number"/>
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>
            
              <div>
                  <button class="btn-primary" type="submit" asp-controller="User" asp-action="SignUp">SignUp</button>
                 
                  <a asp-action="Login" class="btn btn-login text-warning" >Back To Login</a>
              </div>
         </form>

    </div>
   

</div>
