@*@model AC_BM.Models.DTO.

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string username=User.Identity.Name;
}
Hello @username welcome to AC Immigration Services
<section class="service">
    @foreach(var item  in Model.ServiceList){
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card" style="max-width: 500px;">
                <img src="/Uploads/@item.ServiceImage" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title bg-info">@item.ServiceName</h5>
                    <p class="card-text">@item.Companys</p>
                    <a href="#" class="btn">Go somewhere</a>
                </div>
            </div>
        </div>


    

       
    }
</section>
*@