@model AC_BM.Models.Domain.Service
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="wrapper">
        <div class="title">Services Form</div>
    <form  class="form"  method="post"  enctype="multipart/form-data" asp-controller="Service" asp-action="Add">
        <div asp-validation-summary="All" class="text-danger"></div>
    <div class="input_field">
            <label asp-for="ServiceName"></label>
                <input asp-for="ServiceName" class="input" type="text" />
            <span asp-validation-for="ServiceName" class="text-danger"></span>
    </div>
    <div class="input_field">
        <label>Companys</label>
        <div class="custom_select">
            <select asp-items="Model.CompanyList" asp-for="Companys" multiple>
            <option value=" ">--Select Company--</option>

            </select>
         </div>
    </div>
        <div >
            <label  >Image</label>
                <input  asp-for=" ImageFile" type="file" />
            <span asp-validation-for="ImageFile" class="text-danger"></span>
        </div>
   
    @if(TempData["msg"]!=null){
        <div class="text-success">
            @TempData["msg"]
        </div>
    }
    <button class="btn" type="submit" asp-controller="Service" asp-action="Add"> &nbsp;Add Service</button>
 <a asp-action="ServiceList" asp-controller="Service" >All records</a>
</form>
</div>
@section Scripts{
    @{
       // <partial name="_ValidationScriptsPartial"/>
    }

}
