@model AC_BM.Models.Domain.Service
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="wrapper">
    <div class="title">Edit Services Form</div>
    <form class="form" asp-action="Edit"  method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>
         <div class="input_field">
            <label asp-for="ServiceId"></label>
            <input asp-for="ServiceId" class="input" type="hidden" />
            <span asp-validation-for="ServiceId" class="text-danger"></span>
        </div>
        <div class="input_field">
            <label asp-for="ServiceName"></label>
            <input asp-for="ServiceName" class="input" type="text" />
            <span asp-validation-for="ServiceName" class="text-danger"></span>
        </div>
        <div class="input_field">
            <label asp-for="Companys"></label>
            <div class="custom_select">
                <select asp-items="Model.MultiCompanyList" asp-for="Companys" multiple>
                    <option value=" ">--Select Company--</option>
                </select>
            </div>
         </div>

            <div class="input_field">
                <label>Image</label>
                <input asp-for=" ImageFile" type="file" class="input" />
            <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>

            @if (TempData["msg"] != null)
            {
                <div class="text-success">
                    @TempData["msg"]
                </div>
            }
            <button class="btn" type="submit" asp-controller="Service" asp-action="Add"> &nbsp;Edit Service</button>
            <a asp-action="ServiceList" asp-controller="Service">All records</a>
        </form>
    </div>
@section Scripts{
    @{
       // <partial name="_ValidationScriptsPartial"/>
    }

}
