@model AC_BM.Models.DTO.ServiceListVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="table-container">
    <h1  > Services</h1>

    <table class="table">
    <tr>
    <th>Service Name</th>
    <th>Company</th>
    <th>Image</th>
    <th>Action</th>
    </tr>
    @foreach(var item in Model.ServiceList){
    <tr>
    <td>@item.ServiceName</td>
    <td>@item.CompanyNames</td>
    <td><img style="height:60px;width:80px;" src="/Uploads/@item.ServiceImage"/></td>
    
    <td>
      <a href="/Service/Edit?id=@item.ServiceId" ><i class="bi bi-pencil-square"></i>&nbsp; </a>
      <a onclick="return window.confirm('Are you Sure?')" href="/Service/Delete?id=@item.ServiceId" ><i class="bi bi-trash"></i></a>


    </td>

    </tr>}
    </table>
    <div class="input-container">
    <a href="/Service/Add" class="btn btn-sec">Back</a>
    </div>
   </div>