@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4 fw-bolder">Welcome to &nbsp;<span class="text-danger">AC Immigration</span></h1>
    <h2>Here For You</h2>
    <p>Learn about <a href="www.agweyucollins.co.ke">Ac Immigration &Co.</a>.</p>
</div>*@

<section id="Home">
    <div class="container-fluid">
@*<div class="card h-50">
  <div class="card-header">
                <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/Images/Corporate/corporate3.jpg" class="d-block w-100 h-50" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="fw-bolder">AC IMMIGRATION</h5>
                                <p>Here for you</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="Images/Corporate/Corporate1.jpg" class="d-block w-100 h-50" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="fw-bolder">The Best Immigration Company</h5>
                                <p>We provide investment-based immigration,taxation ,law,business and citizenship servives</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="~/Images/Corporate/corporate3.jpg" class="d-block w-100 h-50" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h3 class="fw-bolder"> Leading Immigration Company</h3>
                                <p>We offer the best Immigartion Services in East  and Central Africa.</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
  </div>
         <div class="card-body">
         
      </div>
        </div>*@
        <div class="card text-bg-dark ">
            <img src="~/Images/corporate/Corporate7.jpg" class="card-img img-fluid" style="height:50vh"  alt="...">
  <div class="card-img-overlay text-center">
    <h2 class="card-title text-light fw-bolder">LEADING IMMIGRATION COMPANY</h2>
    @*<p class="card-text text-light">We offer the best Immigartion Services in East  and Central Africa. </p>*@
    <p class="card-text"><small> We are here for you</small></p>
  </div>
</div>
    </div>
</section>
<section id="service">
    <h1 class="text-center">Services</h1>

<div class="row mb-2">
          <div class="col-3 ">
            <div class="card text-bg-primary h-100">
                    <img src="images/corporate/travel.jpg" class="card-img opacity-25 " alt="...">
              <div class="card-img-overlay">
                <h5 class="card-title text-danger fw-bold text-center pt-10">Immigration</h5>
                <p class="card-text"></p>
                 <p class="card-text"><small></small></p>
               </div>
             </div>
           </div>


         <div class="col-3 ">
            <div class="card text-bg-dark h-100">
        <img src="images/corporate/book_pen.jpg" class="card-img opacity-25 " alt="...">
       <div class="card-img-overlay">
         <h5 class="card-title text-danger">Business & Corporate Planning</h5>
        <p class="card-text"></p>
       <p class="card-text"><small></small></p>
  </div>
</div>
</div>
                 <div class="col-3 ">
            <div class="card text-bg-dark text-center h-100">
        <img src="images/corporate/law.jpg" class="card-img opacity-15 " alt="...">
       <div class="card-img-overlay">
         <h5 class="card-title text-danger pt-30">Legal Services</h5>
        <p class="card-text"></p>
       <p class="card-text"><small> </small></p>
  </div>
</div>
</div>
                     <div class="col-3 ">
            <div class="card text-bg-dark h-100">
        <img src="images/corporate/realestate.jpg"class="card-img opacity-15 " alt="...">
       <div class="card-img-overlay">
         <h5 class="card-title text-danger fw-bolder ">Conveyance & real Estates</h5>
        <p class="card-text"></p>
       <p class="card-text"><small></small></p>
  </div>
</div>
</div>
        </div>

        
        
    
   
            </section>