@{
    ViewData["Title"] = "Home Page";
}
@*
//<section id="Home">
//    <div class="container-fluid">

//        <div class="card text-bg-dark ">
//            <img src="~/Images/corporate/Corporate7.jpg" class="card-img img-fluid" style="height:50vh"  alt="...">
//  <div class="card-img-overlay text-center">
//    <h2 class="card-title text-light fw-bolder">AC IMMIGRATION COMPANY</h2>
//    <p class="card-text text-light">We offer the best Immigartion Services in East  and Central Africa. </p>
//    <p class="card-text text-light"><small>Our customers are our top priority</small></p>

//  </div>
//</div>
//    </div>
//</section>*@
 <section class="home" id="home">
        <div class="homet">
            <h3>The Best Immigration Company in East and Central Africa</h3>
@*           //<a href="#" >Read More</a>
*@        </div>










    </section>

@*
    <section class="services" id="service">
        <div class="heading">
            <h2>Services We Offer</h2>
            <h6>The best you can ever get</h6>
        </div>
        <div class="serveinfo">
            <div class="col">
                <img src="~/Images/Corporate/book_pen.jpg" alt="">
                <div class="layer">
                <h3>Business & Corporate Planning</h3>
                </div>
            </div>
            <div class="col">
                <img src="~/Images/Corporate/travel.jpg" alt="">
                <div class="layer">
                    <h3>Immigration</h3>
                </div>
            </div>
            <div class="col">
                <img src="~/Images/Corporate/law.jpg" alt="">
                <div class="layer">
                    <h3>Legal Services</h3>
                </div>
            </div>

        </div>

    </section>*@
    <!-- end of portfolio -->

@*<section class="blog" id="blog">
    @*<div class="heading">
        <h2>Blog Posts</h2>
        <h6>News Insights</h6>
        <P>Best among many.Experience from the best Dev.</P>
    </div>
    <div class="blog-content">
        <div class="row">
            <img src="~/Images/Corporate/book_pen.jpg" alt="">
            <h3>Corporate and Business Planning</h3>
        </div>
        <div class="row">
            <img src="~/Images/Corporate/law.jpg" alt="">

            <h3>Legal services</h3>
        </div>
        <div class="row">
            <img src="Images/Corporate/travel.jpg" alt="">

            <h3>Immigration Services</h3>
        </div>
         
    </div>
</section>*@

<section id="service">
    <h1>Services we offer</h1>

<div class="row mb-2">
          <div class="col-3 ">
            <div class="card text-bg-primary h-100">
                    <img src="images/corporate/travel.jpg" class="card-img opacity-25 " alt="...">
              <div class="card-img-overlay">
                <h5 class="card-title text-danger fw-bold text-center pt-10">Immigration</h5>
                <p class="card-text"></p>
                 <p class="card-text"><small></small></p>
               </div>
             </div>
           </div>


         <div class="col-3 ">
            <div class="card text-bg-dark h-100">
        <img src="images/corporate/book_pen.jpg" class="card-img opacity-25 " alt="...">
       <div class="card-img-overlay">
         <h5 class="card-title text-danger">Business & Corporate Planning</h5>
        <p class="card-text"></p>
       <p class="card-text"><small></small></p>
  </div>
</div>
</div>
                 <div class="col-3 ">
            <div class="card text-bg-dark text-center h-100">
        <img src="images/corporate/law.jpg" class="card-img opacity-15 " alt="...">
       <div class="card-img-overlay">
         <h5 class="card-title text-danger pt-30">Legal Services</h5>
        <p class="card-text"></p>
       <p class="card-text"><small> </small></p>
  </div>
</div>
</div>
                     <div class="col-3 ">
            <div class="card text-bg-dark h-100">
        <img src="images/corporate/realestate.jpg"class="card-img opacity-15 " alt="...">
       <div class="card-img-overlay">
         <h5 class="card-title text-danger fw-bolder ">Conveyance & real Estates</h5>
        <p class="card-text"></p>
       <p class="card-text"><small></small></p>
  </div>
</div>
</div>
        </div>
           </section>