@{
    ViewData["Title"] = "SignUp Page";
}
<h1>@ViewData["Title"]</h1>

<p>Sign Up in order to access some of our services</p>
@*
<div class="col-sm-6 align-content-center">

    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <div class="mb-3">
                <label asp-for="Name"></label>
                <div><i class="bi bi-person-circle"></i></div>
                <input asp-for="Name"  class="form-control" name="name"  type="text"/>
            </div>
            <div class="mb-3">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" name="email" type="email" />
            </div>
            <div class="mb-3">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control"  name="password" value="password"/>
            </div>
            <div class="mb-3">
                <label asp-for="Contact"></label>
                <input asp-for="Contact" class="form-control" name="Contact"  type="number"/>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">Male</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">Female</label>
            </div>
              <div>
                  <button class="btn-primary" type="submit" asp-controller="Admin" asp-action="SignUp">SignUp</button>
              <a asp-action="Login" class="btn btn-login">Login</a>
              </div>
    </div>
    </div>


</div>*@
