@{
    string username = User.Identity.Name;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AC_BM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AC_BM.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-secondary  border-bottom box-shadow ">
            <div class="container-fluid">
                <a class="navbar-brand text-danger fw-bolder  " asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/Images/AC_Logo.jpg"  class="bg-dark" style="width:70px;height:70px;"/> AC IMMIGRATION</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                       
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light  " asp-area="" asp-controller="UserAunthentication" asp-action="Registration">SignUp</a>
                        </li>
                       @* <li class="nav-item">
                            <a class="nav-link text-light  " asp-area="" asp-controller="UserAunthentication" asp-action="Registration">SignUp</a>
                        </li>*@
                        @if (User.IsInRole("Admin"))
                        {
                            @*<li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                                    Admin
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="/Company/Add">Company</a></li>
                                    <li><a class="dropdown-item" href="/Service/ServiceList">Service</a></li>
                                    <li><a class="dropdown-item" href="/Transaction/TransactionList">Transaction</a></li>
                                </ul>
                            </li>*@
                          <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
                            </li>
                             <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Company" asp-action="Add">Company</a>
                            </li>
                             <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Service" asp-action="Add">Service</a>
                            </li>
                        }
@*                    </ul>
*@@*                    <ul class="navbar-nav flex-grow-1">
*@                       
                        
                            
                        

*                       @if (!string.IsNullOrEmpty(username))
                        {
                        <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="UserAunthentication" asp-action="Logout">Logout</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted text-center">
        <div class="container">
            &copy; 2022 - All rights Reserved- <a asp-area="" asp-controller="Home" asp-action="Index"></a>
            
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
 