@model AC_BM.Models.Domain.Company
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="wrapper">
        <div class="title">Company Form</div>
<form class="form" method="post">
        <div asp-validation-summary="All"></div>  
    <div class="input_field">
            <label asp-for="CompanyName">CompanyName</label>
            <input asp-for="CompanyName" class="input" type="text"/>
            <span asp-validation-for="CompanyName" class="text-danger"></span>
    </div>
   
    @if(TempData["msg"]!=null){
        <div class="error">
            @TempData["msg"]
        </div>
    }
      <a class="btn" type="submit" asp-controller="Company" asp-action="Add"> &nbsp;Add Company</a>
     <a asp-action="CompanyList" asp-controller="Company">View List</a>
</form>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }

}
