@model IEnumerable<AC_BM.Models.Domain.Company>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="wrapper">
    <div  class="title" > List of All Companies</div>

    <table class="table">
    <tr>
    <th>Company Name</th>
    <th>Edit/Delete</th>
    </tr>
    @foreach(var item in Model){
    <tr>
    <td>@item.CompanyName</td>

    <td>
      <a href="/Company/Edit?id=@item.CompanyId"><i class="bi bi-pencil-square"></i>&nbsp; </a>
      <a onclick="return window.confirm('Are you Sure you want to delete?')" href="/Company/Delete?id=@item.CompanyId"><i class="bi bi-trash"></i></a>


    </td>

    </tr>}
    </table>
    <div class="input-container">
    <a href="/Company/Add">Back</a>
    </div>
   </div>