@model AC_BM.Models.Domain.Company
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




    <div class="wrapper">
        <div class="title">Edit Company</div>
    <div method="post" >
        <div asp-validation-summary="All"></div>
        <input asp-for="CompanyId" class="form-control" type="hidden" />

    <div class="mb-3">
            <label  class="form-label">Please Enter the Company Name</label>
            <input asp-for="CompanyName" class="form-control" type="text" />
            <span asp-validation-for="CompanyName"class="text-danger"></span>
    </div>
   
    @if(TempData["msg"]!=null){
        <div class="text-success">
            @TempData["msg"]
        </div>
    }
    <a class="btn btn-primary" type="submit" asp-controller="Company" asp-action="Update"> &nbsp;Edit</a>
 <a asp-action="CompanyList" asp-controller="Company" class="btn btn-danger" >ViewList</a>
</div>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }

}
