@model AC_BM.Models.Domain.Company
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <h1>Add Company</h1>


    <div class="col-6 d-flex justify-content-center">
    <form method="post" asp-action="Update" asp-controller="Company">
        <div asp-validation-summary="All"></div>
        <input asp-for="CompanyId" class="form-control" type="hidden" />

    <div class="mb-3">
            <label  class="form-label">Company Name</label>
            <div><i class="bi bi-envelope"></i></div>
            <input asp-for="CompanyName" class="form-control" type="text" />
            <span asp-validation-for="CompanyName"class="text-danger"></span>
    </div>
   
    @if(TempData["msg"]!=null){
        <div class="text-success">
            @TempData["msg"]
        </div>
    }
    <button class="btn btn-primary" type="submit" asp-controller="Company" asp-action="Update"> &nbsp;Update Company</button>
 <a asp-action="CompanyList" asp-controller="Company" class="btn btn-danger" >All records</a>
</form>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }

}
